@charset "utf-8";

* {
}
body,div,p,h1 {
	margin: 0;
	padding: 0;
}

a:HOVER{
	cursor: pointer;	
}
a{
	text-decoration:none;color:black;
	}
img {
	border: 0;
	vertical-align: middle;
}

li {
	list-style-type: none;
	overflow: hidden;
}
.clearfix:after,
.clearfix:before{
	content:"";
	display:block;
	height: 0;
	visibility: hidden;

}
.clearfix:after{
	clear: both;
}



.navi_middle ul {
	margin-left: -17px;
}
.contentss{
	padding-bottom:100px;
}
.js-silder {
	position: relative;
}

.silder-scroll {
	width: 100%;
	overflow: hidden;
}

.silder-main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.silder-main-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.silder-main-img img {
	width: 100%;
}

.js-silder-ctrl {
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: -30px
}

.silder-ctrl-prev,.silder-ctrl-next {
	position: absolute;
	top: 0;
	width: 8%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-family: "宋体";
	font-size: 52px;
	font-weight: 600;
	text-shadow: #666 2px 2px 5px;
}

.silder-ctrl-prev {
	left: 0;
	text-align: left;
	margin-left: 150px;
}

.silder-ctrl-next {
	right: 0;
	text-align: right;
	margin-right: 150px;
}

.silder-ctrl-prev>span,.silder-ctrl-next>span {
	position: absolute;
	top: 50%;
	margin-top: -130px;
}

.silder-ctrl-prev>span {
	left: 0;
}

.silder-ctrl-next>span {
	right: 0;
}

.silder-ctrl-con {
	display: inline-block;
	width: 10px;
	padding: 10px 0;
	margin: 0 10px;
	cursor: pointer;
	border-radius: 20px
}

.silder-ctrl-con>span {
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: #e4e4e4;
	border-radius: 20px;
}

.silder-ctrl-con.active>span {
	background-color: #ec3b3b;
	border-radius: 20px;
}

@media ( max-width : 768px) {
	.silder-ctrl-prev,.silder-ctrl-next {
		width: 10%;
		font-size: 26px;
		margin-top: -25px;
	}
	.silder-ctrl-con {
		width: 14px;
		height: 14px;
		padding: 0;
		margin: 0 5px;
	}
	.silder-ctrl-con>span {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		padding: 0;
	}
}

.li {
	list-style: none;
	float: left;
	width: 137px;
	height: 50px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	display: list-item;
	margin-top: -17px;
}

.lianjieli {
	color: #6c6c6c;
	list-style: none;
	float: left;
	text-align: center;
	font-size: 14px;
    margin-right:30px;
}

.top {
	width: 1200px;
	height: 80px;
	margin: 0px auto
}

.top_left {
	/*width: 27%;*/
	margin-top: 10px;
	float: left;
	line-height: 60px;
}
.top_left>div{
	float:left;
}
.top_left>div+div{
	margin-left:30px;
}
.top_left_img {
	vertical-align: middle;
}

.img_font {
	font-size: 32px;
	color: #01455c;
	vertical-align: middle;
}

.top_right {
	/*width: 68%;*/
	float: right;
	margin-top: 18px
}

.top_right_login {
	/*//float: left;*/
	margin-top: 7px;
	display: inline-block;
}

.picimg {
	height: 31px;
	background: red;
	border-radius: 0px 5px 5px 0px;
	vertical-align: middle;
	margin-left: -9px;
	margin-top: -1px;
}

.top_login {
	/*margin-left: 10%;*/
	width: 70px;
	height: 30px;
	color:#6C6C6C;
	background: #fff;
	/*border-radius: 7px;*/
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #ccc;
	outline: none;
}
.top_login:HOVER{
	color:#fff;
	background: #ec3b3b;
	cursor: pointer;
}

.top_reg {
	background: #fff;
	/*margin-left: 20px;*/
	width: 70px;
	height: 30px;
	color:#6C6C6C;
	/*border-radius: 7px;*/
	font-weight: bold;
	border: 1px solid #ccc;
	outline: none;
}
.top_reg:HOVER{
	color:#fff;
	background: #ec3b3b;
	cursor: pointer;
}

.top_userinfo{
	/*float:right;*/
	/*width:60%;*/
	color:#6C6C6C;
	line-height: 32px;
	text-align: center;
}
.top_userinfo a{
	color:#ec3b3b;
	text-decoration: none;
}
.top_userinfo a:HOVER{
	color:#ec3b3b;
	text-decoration: underline;
}


.top_weixin {
	border-right: 1px solid #000;
	width: 80px;
	float: left;
	height: 44px
}

.top_right_img {
	width: 150px;
	float: right;
	padding-left:20px;
}

.mar {
	width: 100%;
	height: 260px;
	overflow: hidden;
}

.lun_mar {
	width: 100%;
	height: 260px
}

.navi_div {
	width: 100%;
	height: 50px;
	background: #01455c
}

.navi_middle {
    width: 1280px;
	border: 1px solid #01455c;
	margin: 0px auto;
	height: 47px;
}
.navi_middle a{
	color: #fff;
	text-decoration:none;
}
.empty{
    line-height: 70px;
}
.navi_middle li:hover {
	background: #ec3b3b;
	color: #fff
}
.cur_locat{
	font-size: 14px;
	margin:10px auto;
	color: #555;
	width:1200px;
}
.cur_locat a{
	color: #555;
	text-decoration: none;

}
.cur_locat a + a{
	margin: 0 8px;
}
.cur_locat a:HOVER{
	color: red;
}

.toggle{
  background-color: #ec3b3b;
  color:#fff
}
.child{
position: absolute;
   background: #f4f4f4;;
display:none;
z-index:1;
}
.child-ul{
   padding-left: 17px;
   padding-bottom: 10px;
display: flex;
}
.child-ul li:HOVER{
	background: #f4f4f4 !important;
}
.child-ul li a:hover{
	color: #ec3b3b;
	text-decoration: underline;
}
.child-li{
font-size:0.9rem;
padding:10px;
}
.child-li a{
color: #060606;
}

.page-footer{
	width:100%;
	position: fixed;
	bottom:0;
	left:0;
    height:80px;
    background: #fff;
    border-top:1px solid rgba(7,17,27,.1);
}
.friend_link{
	width: 1280px;
    height: 25px;
    margin: 20px auto 10px;
}
.friend_link ul{
	margin:auto;
}
.friend_link ul a{
	display: inline-block;
	padding:3px 5px;
}
.friend_link ul a:hover{
	color:#fff;
	background: #ec3b3b;
}
.company_bottom{
	width:100%;
    background: #20292b;
    color: #FFF;
    text-align: center;
    font-size: 12px;
	padding:5px 0;
}
.scontent{padding:0px 10px;width:260px;font-size:16px;vertical-align:middle;height:29px;border-radius: 5px 0px 0px 5px;border: 1px solid #ccc;}
.color_r{
	 color:#EC3B3B;
	}
.color_b{
	 color:#666;
	}
.div_center_1 img{    margin-left: 390px;
    height: 300px;
    width: 250px;
}
.link {
	     text-decoration:none;color:black
	  }
input[type=button]{
	outline: none;
}
.center_title{
	width: 100%;
	height: 40px;
	background-color: #fafafa;
	color:#555;
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px dotted #ddd;
}

#cp{ width:1200px; margin: 15px auto 0 auto;}
#cp .cp_left{ width:180px; float:left;}
#cp .cp_left .cp_lm .cp_fl{ border-bottom:2px solid #f00; height:40px; text-align:center; line-height:40px; font-size:16px; font-weight:bold;}
#cp .cp_left .cp_lm .cp_fll{ margin-top:10px; text-align:center;}
#cp .cp_left .cp_lm .cp_fll ul{padding: 0;}
#cp .cp_left .cp_lm .cp_fll ul li{ line-height:40px; border-bottom:1px solid #ccc; width:180px;list-style: none;}
#cp .cp_left .cp_lm .cp_fll ul li a{color: #555;text-decoration: none;}
#cp .cp_left .cp_lm .cp_fll ul li a:hover{ background:#f00; display:block; color:#fff;}
#cp .cp_left .cp_lm .cp_fll ul li a.ys{ background:#ec3b3b; display:block; color:#fff;}
#cp .cp_right{ float:right; width:980px; margin-left:40px;overflow: hidden;}
.backLink{width: 80px;
    display: flex;
    font-size: 13px;
    line-height: 24px;
    align-items: center;
    padding: 0px 30px;}
.backLinka{        background-color: #ff0000;
    border-radius: 4px;
    text-decoration: none;
    color: #ffffff;
    padding: 1px 3px;
    cursor: pointer;}