@charset "utf-8";


.middle_back {
	width: 100%;
	height: 618px;
	background: url(../images/login.png);
}
.middle_back a{
	color:red;
	cursor: pointer;
	text-decoration: none;
}
.mid_con {
	width: 1200px;
	height: 500px;
	margin: 0px auto
}

.mid_left {
	float: left;
	width: 600px;
	height: 100%;
}

.mid_logo {
	color: #FFF;
	text-align: center
}

.code {
	width: 100%;
	margin-top: 100px
}

.code_left {
	float: left;
	margin-left: 50px
}

.code_font {
	color: #FFF;
	text-align: center;
	width: 160px
}

.login_div {
	width: 400px;
	height: 100%;
	float: right;
	background: #FFF;
	border-radius: 5px
}

.personal {
	width: 50%;
	height: 100%;
	font-size: 16px;
	color: #999;
	float: left;
	border-radius: 5px 0px 0px 0px;
	text-align: center;
	padding: 15px
}
.personal:HOVER{
	cursor: pointer;
}

.tenant {
	width: 50%;
	height: 100%;
	background: #ccc;
	float: right;
	border-radius: 0px 5px 0px 0px;
	text-align: center;
	font-size: 16px;
	color: #999;
	padding: 15px
}
.tenant:HOVER{
	cursor: pointer;
}

.login_title {
	font-size: 18px;
	color: #555;
	width: 100%;
	text-align: center;
	padding: 35px
}

.input_div {
	width: 350px;
	margin: 0px auto
}

.input_name {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	height: 40px
}

.name {
	width: 310px;
	float: right;
	height: 100%;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
}

.input_pass {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	margin-top: 28px
}

.password {
	width: 310px;
	float: right;
	height: 100%;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
}

.pin_input {
	width: 100%;
	height: 40px;
	margin-top: 28px;
}

.yanzheng {
	width: 160px;
	height: 100%;
	float: left;
	border-radius: 5px;
	border: 1px solid #CCC;
	padding: 0px 10px;
}

.yanzhengma {
	width: 120px;
	height: 100%;
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 5px;
	float: left;
	margin-left: 15px;
}

.pin_botton {
	float: right;
	font-size: 12px;
	color: #ec3b3b;
}

.operate {
	width: 100%;
	height: 40px;
	margin-top: 28px;
	font-size: 15px;
	text-align: center;
	color: #555;
}
.forgetPass {
	color: #ec3b3b;
	margin-left: 80px;
}

.login_button {
	text-align: center;
	width: 100%;
	height: 40px;
	margin-top: 28px;
	background: #ec3b3b;
	font-size: 18px;
	color: #FFF;
	border-radius: 5px;
}
.login_button .login_submit{
	padding-top:5px;
	font-size: 24px;
	font-weight: bold;
}
.login_button .login_submit:HOVER {
	cursor: pointer;
}
