@charset "utf-8";
*{
		margin: 0;
		padding: 0;
		font-family:"微软雅黑";
	}
	a{text-decoration: none;color:#FFF}
	.clear{clear:both;}
    .but_left{width:0vw;line-height:65vh; font-weight:bold; font-size:4em;color:#FFF;float:left;}
	.bigdiv{ padding:0; margin:0;width:100vw; height:100vh; overflow:hidden;background:url(../images/indexback.png);background-size:100vw 100vh}
	.top{width:94vw;height:15vh;margin:0px auto}
	.logo{vertical-align:middle; width:4vw}
	.top_title{color:#45ab83;font-size:2.4em; font-weight:bold;margin-left:0.6vw;vertical-align:middle;}
	.conLe{line-height:15vh;float:left}
	.conRi{line-height:15vh;float:right}
	.loginimg{vertical-align:middle; width:2vw}
	.border{font-size:1.7em;margin-left:1vw;vertical-align:middle;border-right:1px solid #fff}
	.times{font-size:2.4em;margin-left:1vw;vertical-align:middle;color:#fff}
	.content{font-size:1em;margin-left:1vw;vertical-align:middle;color:#FFF}
	
	.bottom{width:100vw;height:15vh; background:url(../images/bottomback.png)}
	.bomCon{width:90vw;height:15vh;margin:0px auto}
	.bomHref:hover{background:url(../images/aindex.png);text-shadow:2px 2px 5px #ec3b3b,-2px 2px 5px #ec3b3b}
	.bomHref{width:12.85vw;float:left;text-align:center;line-height:15vh;color:#FFF;}
	.bomHrefAct{background:url(../images/aindex.png);text-shadow:2px 2px 5px #ec3b3b,-2px 2px 5px #ec3b3b}
	 p{font-size:1.7em;}

	.middle{width:90vw;height:70vh;margin:0px auto;}
	.comDiv{width:20vw;height:50vh;background:#FFF;margin-top:7vh;margin-left:2vw;float:left;background-color:rgba(255, 255, 255, 0.2); text-align:center}	
	.comDiv:hover{box-shadow:0px 0px  10px 5px #ec3b3b;}
	.comDiv img{width:10vw;height:20vh;margin-top:10vh}
	.comDiv p{ line-height:20vh;color:#FFF;font-size:2em}
	
