@charset "utf-8";
*{
		margin: 0;
		padding: 0;
		font-family:"微软雅黑";
	}
	a{text-decoration: none;color:#FFF}
	.clear{clear:both;}
    
	.bigdiv{ padding:0; margin:0;width:100vw; height:100vh; overflow:hidden;background:url(../images/index.png);background-size:100vw 100vh}
	.list_left{width:20vw;height:100vh;float:left; border-right:2px solid #999;background-color:rgba(255, 255, 255, 0.2);color:#FFF}
	.title{font-size:2em;width:20vw;height:9vh;margin-left:2vw;margin-top:4vh}
	.left_p{width:20vw;text-align:center;color:#FFF;font-size:1.3em;height:6vh}
	.left_p span{line-height:6vh}
	.left_p:hover{background:#ec3b3b;}
	.left_pAct{background:#ec3b3b;}
	.left_content{width:75vw;height:85vh;background:#00F;margin-left:2.5vw;margin-top:4vh;border-radius:10px;background-color:rgba(255, 255, 255, 0.6);}
    .last_page{width:79vw; text-align:center;margin-top:4vh;font-size:1.4em}
	.left_user{width:79vw;height:100vh;float:left;}
	.user_cont{width:70vw;height:85vh;margin:0px auto;}
	.userDiv{width:15vw;height:38vh;float:left;margin-top:3vh;margin-left:2vw;border-radius:10px;background-color:rgba(255, 255, 255, 0.6);box-shadow:0px 0px  3px 3px #ec3b3b;text-align:center}
	.userimg{width:8vw;height:23vh;margin-top:2vh}
	.username{font-size:1.6em;color:#F00;margin-top:0.8vh}
