@charset "utf-8";
/*reset*/
html {
	font-size: 312.5%;
}
body {
	font-family: Microsoft Yahei,'roboto', helvetica, arial, sans-serif;
	font-size: .28rem;
	color: #333333;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
img {
	vertical-align: middle;
	border: 0
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul, ol, li {
	list-style: none;
}
em, i {
	font-style: normal
}
img {
	border: none;
}
input, img {
	vertical-align: middle
}
input, select, textarea {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
}
textarea:focus {
	outline: 0
}
a {
	color: #6E7D8B;
	text-decoration: none;
	outline: 0
}
a:active, a:hover, a.current {
	outline: 0
}
html {
	font-size: 312.5%;
}
img {
	border: none;
	display: block
}
input {
	border: none;
	font-size: .28rem;
}
input:focus {
	outline: none;
}


/*regsiter*/

 @-webkit-keyframes rotate {
 from {
-webkit-transform:rotate(0deg);
}
 to {
-webkit-transform:rotate(360deg);
}
}

@media screen and (min-width:350px) {
html {
	font-size: 342%;
	
}
}

@media screen and (min-width:410px) {
html {
	font-size: 400%;
}
}

@media screen and (min-width:480px) {
html {
	font-size: 469%;
}
}

@media screen and (min-width:640px) {
html {
	font-size: 625%;
}
}


.wrap_box {
	max-width:640px;
	margin: 0 auto;
	height:auto;
	position:relative;
	overflow:hidden;
}
.community{width:33vw;height:9.4vh; border-bottom:2px solid #ec3b3b;float:left}
.community2{width:33vw;height:9.4vh;float:left}
.community p{line-height:9.4vh; text-align:center;font-size:1.2em}
.community2 p{line-height:9.4vh; text-align:center;font-size:1.2em}

.content{width:92%; text-indent:2em;margin:0px auto;margin-top:2vh}
.top{width:100%;height:190px;background:url(../images/topback.png);background-size: 100% 190px;}
.return{color:#FFF;font-size:1.2em; margin-left:3%;padding-top:2vh}
.commercial{width:94%;height:24vh;margin:0px auto;margin-top:3vh; overflow:hidden;color:#FFF}

.markimg{width:30%;float:left;height:95%;border:2px solid #FFF;border-radius:5px}
.save{background:#ec3b3b;color:#fff;border-radius:5px; font-size:0.8em;width:20vw;height:4vh;float:right}
.right_info{width:67%;float:right;}
.readDiv{color:#000;font-size: 0.7em;float:right}
.read1{width:5vw;float:left;margin-top:0.5vh}
.read2{float:left;margin-left:1vw}
.read3{width:5vw;float:left;margin-left:3vw;margin-top:0.5vh}
.read4{float:left;margin-left:1vw}		




			

